<app-header></app-header>

<div class="col-md-6 col-lg-12 mt-3 user-container">
  <!-- Add user form -->
  <form [formGroup]="addUser" (ngSubmit)="onSubmit()" class="text-center border border-light p-5">
    <p class="h4 mb-4" i18n="TitleAddUser | This is the add user title@@addUserTitle">
      <abbr i18n i18n-title title="Agregar usuario"> Subscribe a user</abbr>
    </p>

    <p i18n="Subtitle | This is a subtitle@@subtitle">
      <abbr i18n i18n-title title="Únete a nuestra aplicación web. ¡Nuestro codigo cambiara el mundo!">
        Join our webapp l. We write code for change the world!.
      </abbr>
    </p>

    <p>
      <a href="" target="_blank">Innocv</a>
    </p>

    <!-- Name -->
    <input type="text" formControlName="name" class="form-control mb-4" placeholder="Name" id="name" />
    <ng-container *ngFor="let validation of validationMessages.name">
      <div class="error-message" *ngIf="
          addUser.get('name').hasError(validation.type) &&
          (addUser.get('name').dirty || addUser.get('name').touched)
        ">
        {{ validation.message }}
      </div>
    </ng-container>
    <!-- birthdate -->
    <input type="date" formControlName="birthdate" class="form-control mb-4" placeholder="Birthday" min="1899-01-01"
      max="2000-01-01" />
    <ng-container *ngFor="let validation of validationMessages.birthdate">
      <div class="error-message" *ngIf="
          addUser.get('birthdate').hasError(validation.type) &&
          (addUser.get('birthdate').dirty || addUser.get('birthdate').touched)
        ">
        {{ validation.message }}
      </div>
    </ng-container>
    <!-- Create button -->
    <button class="btn btn-info btn-block mt-3
    " type="submit" i18n="Button | Submit button@@button">
      <abbr i18n i18n-title title="Agregar usuario"> Subscribe a user</abbr>
    </button>
  </form>
</div>