<!--Navbar -->
<nav class="mb-1 navbar navbar-expand-lg navbar-dark info-color">
  <a class="navbar-brand" href="/"><img class="logo" src="/assets//img//Innocv.png" alt="" /></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-4"
    aria-controls="navbarSupportedContent-4" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent-4">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/" i18n="NavPrincipalLink | This is the navbar link@@userList">
          <abbr i18n i18n-title title="Lista de usuarios"> User list</abbr>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="addUser()" i18n="NavAddUser | This is the navbar link@@addUser">
          <abbr i18n i18n-title title="Agregar usuario"> Add User</abbr>
        </a>
      </li>
    </ul>
  </div>
</nav>
<!--/.Navbar -->